.content{
    display: flex;
    flex-direction: row;
}

.content h2{
    margin: 5px;
    text-decoration:underline ;
}

.content hr{
    color: gray;
}

.content p{
    padding-top: 10px;
    text-align: center;
}

.main-content{
    margin: 5px;
    padding: 5px;
    width: 100%;
    height: 100vh;
    box-shadow: -1px -1px 8px black;
}