*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*header*/

.header{
    display: flex;
    justify-content: space-between;
    background-color: #0c1e36;
    width: 100%
}

.logo-container{
    padding: 5px 30px;
}

.logo-container img{
    width: 30%;
    height: 95%;
}

.nav{
    margin: 30px;
}

.nav-close, .nav-menu{
    color: white;
    display: none;
}

.nav-items a{
    text-decoration: none;
    color: white;
}

.nav-items button{
    padding: 15px 30px;
    border: 0;
    margin: 5px 0 0 0 ;
    background: #0c1e36;
    color: #fff;
    font-size: 20px;
    cursor: pointer
}

.nav-items button:hover{
    background-color: #112847;
}

/* footer */

.footer{
    position: absolute;
    float: bottom;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100%;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.footer-content h3{
    padding: 5px;
    font-size: 24px;
}

.footer-content p{
    padding-bottom: 5px;
}

.links{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1px 0 3px 0;
}

.links a, img{
    font-size: 2px;
    width: 30px;
}

.links li{
    margin: 0 10px;
}

.footer-bottom{
    background: #000;
    width: 100%;
    padding-bottom: 40px;
    text-align: center;
}

.footer-bottom p{
    float:left;
    font-size: 14px;
    margin-top: 12px;
    margin-left: 5px;
}

/*js moment*/
@media only screen and (max-width:800px) {
    .nav{
        text-align: center;
        margin: 20px auto;
    }

    .nav-close{
        display: block;
        font-size: 30px;
        text-align: left;
        padding: 15px 15px;
        margin-bottom: 20px;
        cursor: pointer;
    }

    .nav-items{
        position: fixed;
        top: 0;
        right: -100%;
        display: block;
        text-align: center;
        background-color: #0c1e36;
        margin: 0;
        height: 100%;
        box-shadow: -1px -1px 8px black;
        width:175px;
        transition: 1s;
        z-index: 2;
        overflow-y: auto;
    }

    .nav-menu{
        border: 0;
        background: transparent;
        display: block;
        margin-right: 15px;
        padding-bottom: 5px;
        font-size: 20px;
        cursor: pointer;
    }

    .show-nav-items{
        right: 0;
    }
}